@media screen and (max-width: 640px) {
    html, body {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-size: 19px;
        font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
    }
    
    .layout-center-wrapper {
        width: 100%;
        margin: 0 0;
    }
    
    .header {
        width: 100%;
        height: 389px;
        padding-top: 0;
        background: none;
        color: white;
    }
    
    .header .left-column {
        float: left;
        width: 29.07%;
        height: 62px;
        background: #464646;
    }
    
    .header .left-column .logo {
        float: left;
        width: 40px;
        height: 39px;
        margin-left: 6.45%;
        margin-top: 11px;
        background: url(img/mob/header/logo.png) no-repeat;
    }
    
    .header .left-column .logo .logo-for-desk {
        display: none;
    }
    
    .header .left-column .logo .logo-for-mobile {
        display: block;
    }
    
    .header .left-column .page-name {
        margin-top: 20px;
        font-family: 'Lucida Sans Unicode', sans-serif;
        font-size: 19px;
        font-style: italic;
    }
    
    .header .left-column .copyright {
        display: none;
    }
    
    .top-menu {
        float: right;
        width: 70.93%;
        padding: 0;
        margin: 0;
        border-bottom: none;
        background: url(img/mob/header/bg.png);
        box-shadow: none;
    }
    
    .top-menu li {
        display: inline-block;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
    }
    
    .top-menu li a {
        display: block;
        padding: 21px 0; 
        line-height: 20px;
        color: #9b7d08;
        text-decoration: none;
    }
    
    .top-menu .about {
        width: 37.66%;
        border-right: 1px solid #dcb105;
    }
    
    .top-menu .services {
        width: 29.07%;
        border-right: 1px solid #dcb105;
    }
    
    .top-menu .contact {
        width: 32.81%;
    }
    
    .top-menu .about a {
        padding-left: 33.91%;
    }
    
    .top-menu .services a {
        padding-left: 28.78%;
    }
    
    .top-menu .contact a {
        padding-left: 34.89%;
    }
    
    .top-menu .icon {
        background: url(img/mob/header/top-menu-sprite.png) no-repeat;
    }

    .top-menu .about .icon {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 32.25%;
        left: 13.45%;
        background-position: 0 0;
    } 

    .top-menu .services .icon {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 33.87%;
        left: 6.06%;
        background-position: -37px 0;
    }
    
    .top-menu .contact .icon {
        position: absolute;
        width: 28px;
        height: 22px;
        top: 32.25%;
        left: 8.05%;
        background-position: -70px 0;
    }
    
    .header .slider {
        display: block;
        margin-top: 0;
    }

    .header .slider-controls {
            display: none;
    }

    .header .slider .slide-video {
        float: left;
        width: 100%;
        height: 318px;
        background: rgba(239, 220, 143, 0.4) url(img/comp/header/player.jpg) no-repeat;
        -moz-background-size: 100%; 
        -webkit-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-box-shadow: inset 0px 2px 8px 0px rgba(50, 50, 50, 0.89);
        -moz-box-shadow:    inset 0px 2px 8px 0px rgba(50, 50, 50, 0.89);
        box-shadow:         inset 0px 2px 8px 0px rgba(50, 50, 50, 0.89);
    }

    .header .slider .slide-video .circle {
        display: block;
        width: 67px;
        height: 67px;
        border-top:1px solid transparent;
        border-radius: 50%;
        background: rgba(225, 207, 64, 0.85);
    }

    .header .slider .slide-video .play-btn {
        display: block;
        width: 0;
        height: 0;
        border: 19px solid rgba(0, 0, 0, 0);
        border-left: 19px solid white;
        margin-left: 28px;
        margin-top: 14px;
        cursor: pointer;
    }

    .header .slider .slide-text {
        display: none;
    }
}

