@media screen and (max-width: 640px) {
    html, body {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-size: 19px;
        font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
    }
    
    .layout-center-wrapper {
        width: 100%;
        margin: 0 0;
    }
    
    .header {
        width: 100%;
        padding-top: 0;
        color: white;
    }
    
    .header .left-column {
        float: left;
        width: 29.06%;
        background: #464646;
        -webkit-box-shadow: 0px 6px 12px -3px rgba(50, 50, 50, 0.66);
        -moz-box-shadow:    0px 6px 12px -3px rgba(50, 50, 50, 0.66);
        box-shadow:         0px 6px 12px -3px rgba(50, 50, 50, 0.66);
    }
    
    .header .left-column .logo {
        float: left;
        width: 27.95%;
        margin-left: 6.45%;
        margin-top: 5.91%;
        margin-bottom: 6.45%;
        background: url(img/mob/header/logo.png);
    }
    
    .header .left-column .logo .logo-for-desk {
        display: none;
    }
    
    .header .left-column .logo .logo-for-mobile {
        display: block;
    }
    
    .header .left-column .page-name {
        margin-top: 13.97%;
        font-family: 'Lucida Sans Unicode', sans-serif;
        font-size: 19px;
        font-style: italic;
    }
    
    .header .left-column .copyright {
        display: none;
    }
    
    .top-menu {
        float: right;
        width: 70.93%;
        padding: 0;
        margin: 0;
        background: url(img/mob/header/bg.png);
        -webkit-box-shadow: 0px 6px 12px -3px rgba(50, 50, 50, 0.66);
        -moz-box-shadow:    0px 6px 12px -3px rgba(50, 50, 50, 0.66);
        box-shadow:         0px 6px 12px -3px rgba(50, 50, 50, 0.66);
    }
    
    .top-menu li {
        display: inline-block;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
    }
    
    .top-menu li a {
        display: inline-block;
        padding: 23px 0; 
        color: #9b7d08;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .top-menu .about {
        width: 24.88%;
        padding-left: 12.77%;
        border-right: 1px solid #dcb105;
    }
    
    .top-menu .services {
        width: 20.70%;
        padding-left: 8.37%;
        border-right: 1px solid #dcb105;
    }
    
    .top-menu .contact {
        width: 21.36%;
        padding-left: 11.45%;
    }
    
    
}

